.full-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background);
    font-family: Arial, sans-serif;
}

.page-header {
    background-color: var(--carddisplay);
    padding: 40px;
    font-size: 2.4em;
    font-weight: bold;
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    height: 0.7em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-container {
    padding: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.signup-card {
    background-color: var(--carddisplay);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.form-group {
    margin-bottom: 50px;
    text-align: left;
}

label {
    font-size: 24px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
}

input[type="text"],
input[type="password"] {
    width: calc(100%);
    padding: 18px;
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    background-color: var(--inputbox);
    color: var(--text-color);
}

.signup-button {
    width: 100%;
    padding: 20px;
    background-color: var(--button);
    color: var(--button-txt);
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
}

.signup-button:hover{
    background-color: var(--buttin-hover);
}

.login-link {
    display: block;
    margin-top: 24px;
    color: var(--signup);
    text-decoration: none;
    font-size: 18px;
}

.login-link:hover {
    text-decoration: underline;
}