.full-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

    background-color: var(--background);
    font-family: Arial, sans-serif;
}

.page-header {
    background-color: var(--carddisplay);
    padding: 40px;
    font-size: 2.4em;
    font-weight: bold;
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: 0.7em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header .back {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    color: var(--text-color); 
}

.alert-content {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.mat-mdc-text-field-wrapper .mdc-text-field__input {
    color: var(--text-color) !important; 
}

.search-input .mat-form-field-label,
.search-input .mat-form-field-icon {
    color: var(--text-color) !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-flex {
    border-color: var(--text-color-subtle) !important;
}


.table-card {
    padding: 0;
    background-color: var(--carddisplay) !important; 
    color: var(--text-color);
    border-radius: 8px !important;
}

.mat-mdc-table .mat-mdc-header-row,
.mat-mdc-table .mat-mdc-header-cell {
    background-color: var(--carddisplay) !important; 
    color: var(--text-color) !important; 
    border-bottom: 1px solid var(--hover-bg); 
    font-size: 1.125em !important;
    border-bottom: 2px solid var(--text-color) !important;
}

.mat-mdc-table .mat-mdc-row {
    background-color: var(--carddisplay) !important; 
    color: var(--text-color) !important; 
    border-color: var(--hover-bg) !important;
    font-size: 1.1em !important;
}

.mat-mdc-table .mat-mdc-row:hover {
    background-color: var(--buttin-hover) !important;
}

.no-data-row {
    color: var(--text-color-subtle) !important;
}

.mat-mdc-paginator {
    background-color: var(--carddisplay) !important;
    padding: 10px 20px !important;
    border-top: 1px solid var(--hover-bg);
}


.mat-mdc-paginator {
    color: var(--text-color) !important;
}

.mat-mdc-paginator .mat-mdc-icon-button {
    color: var(--text-color) !important;
}

.alert-level-info {
    color: #27992b;
    font-weight: 500;
}
.alert-level-warning {
    color: #ecb204;
    font-weight: 500;
}
.alert-level-high {
    color: #F44336;
    font-weight: 500;
}