.full-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
}

.page-header {
    background-color: var(--carddisplay);
    padding: 40px 30px;
    font-size: 2.4em;
    font-weight: bold;
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 1em;
    height: 0.7em; 
    justify-content: space-between;
}

.back {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}

.back mat-icon {
    font-size: 2.3em; 
}

.analytic-content {
    display: flex;
    gap: 20px;
    padding: 20px;
}